
.project-section .project{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: .1rem .1rem .4rem rgb(28, 26, 26,.3);
}
.project-section .project:not(:last-child){
  margin-bottom: 5rem;
}
.project-section .project.right{
  flex-direction: row;
}
.project-section .project.left{
  flex-direction: row-reverse;
}
.project .image{
  width:40vw;
  background-color: var(--background-light);
}
.project-section .project.left .image{
  border-radius: 0 1rem 1rem 0;
}
.project-section .project.right .image{
  border-radius:  1rem 0 0 1rem ;
}
.image .project-img{
  width: 32vw;
  margin: 3vw;
  border-radius: 1rem;
  box-shadow: .1rem .1rem .4rem rgb(28, 26, 26,.2);
  transition: all .5s;
}
.image .project-img:hover{
  width: 33vw;
  margin: 2.5vw;
  cursor: pointer;
}
.project .project-info{
  width: 40vw;
  padding: 4vw;
  background-color: var(--background-dark);
  height: 100%;
}
.project-section .project.right .project-info{
  border-radius: 0 1.5rem 1.5rem 0;
}
.project-section .project.left .project-info{
  border-radius:  1.5rem 0 0 1.5rem ;
}

.project-info h3{
  font-size: 2.4rem;
  text-transform: capitalize;
  display: inline-block;
  color: var(--text-color-bold);
  margin-bottom: 2rem;
}
.project-info .project-description{
  margin-bottom: 3rem;
}
.project-info .technology {
  display: inline-block;
  background-color:rgba(147, 150, 156, 0.4) ;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  margin-right:1rem ;
  margin-bottom: 1rem;
}
.project-info span{
  font-size: 2rem;
  display: inline-block;
  margin-top: 3.5rem;
}



