
@media(max-width:80em){
  .ideal-padding{
    padding: 7rem 9%;
  }
}
@media(max-width:78em){
  .ideal-padding{
    padding: 7rem 7.5%;
  }
}
@media(max-width:75em){
  .ideal-padding{
    padding: 7rem 6%;
  }
}
@media(max-width:73em){
  .ideal-padding{
    padding: 7rem 4.5%;
  }
}

/* adding  new class for more responsiveness */

@media(max-width:52em){
  .flex-col{
    flex-direction: column;
  }
  }

  @media(max-width:52em){
    html {
      font-size: 60%;
    }
    .flex-col{
      flex-direction: column;
    }
  }
  @media(max-width:36em){
    html {
      font-size: 55%;
    }
    .flex-col{
      flex-direction: column;
    }
  }
  @media(max-width:27em){
    html {
      font-size: 50%;
    }
  }
  